@model IEnumerable<DoctorPortal.Models.Prescription>
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResource> localizer; 
@{
    ViewData["Title"] = "PrescriptionPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <p>
      <a asp-action="CreatePrescription" class="btn btn-primary w-100">@localizer["Create"]</a>
    </p>

    @foreach (var item in Model)
    {

        <div class="card">
            <div class="card-header">
                <h5 class="card-category">
                    @Html.DisplayNameFor(model => model.EffOutDate): @item.EffOutDate.ToShortDateString()
                </h5>
                <h4 class="card-title">
                    @item.Patient.User.GetFulName()
                </h4>
            </div>
            <div class="card-body">
                <p>@item.PrescriptionContent</p>
             
                    <div class="justify-content-end">
                        <a asp-action="EditPrescription" asp-route-id="@item.PrescriptionId" class="btn btn-primary">@localizer["Edit"]</a> 
                        <a asp-action="DeletePrescription" asp-route-id="@item.PrescriptionId" class="btn btn-primary">@localizer["Delete"]</a>
                    </div>

            </div>
        </div>

    }
</div>

