@model IEnumerable<DoctorPortal.Models.Appointment>
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResource> localizer;
@{
    ViewData["Title"] = "AppointmentPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container m-3">
    <p>
        <a asp-action="CreateAppointment" class="btn btn-primary w-100">@localizer["Create"]</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DoctorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AppointmentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @localizer["Operations"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>
                        @i.Doctor.User.GetFulName()
                    </td>
                    <td>
                        @i.Description
                    </td>
                    <td>
                        @i.AppointmentDate
                    </td>
                    <td>
                        @if (i.Status == "0")
                        {
                            <span>@localizer["Pending"]</span>
                        }
                        @if (i.Status == "1")
                        {
                            <span>@localizer["Approved"]</span>
                        }
                        @if (i.Status == "2")
                        {
                            <span>@localizer["Rejected"]</span>
                        }
                    </td>
                    <td>
                        @if (i.Status == "0")
                        {
                            <a asp-action="DeleteAppointment" asp-route-id="@i.AppointmentId">@localizer["Cancel"]</a>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>