@model IEnumerable<DoctorPortal.Models.Prescription>
@{
    ViewData["Title"] = "PrescriptionPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    @foreach (var item in Model)
    {

        <div class="card my-4">
            <div class="card-header">
                <h5 class="card-category">
                    @Html.DisplayNameFor(model => model.EffOutDate): @item.EffOutDate.ToShortDateString()
                </h5>
                <h4 class="card-title">
                    @item.Doctor.User.GetFulName()
                </h4>
                <small> @Html.DisplayNameFor(model => model.Doctor.SpecialityId): @item.Doctor.Speciality.SpecialityName</small>
            </div>
            <div class="card-body">
                <p><b>@Html.DisplayNameFor(model => model.PrescriptionContent)</b></p>
                <p>@item.PrescriptionContent</p>

            </div>
        </div>

    }
</div>